{% extends 'base.html' %} {% load static %}

{% block title %} {{ recipe }} {% endblock %}
{% block content %}
    <article>
        <h1>{{ recipe }}</h1>
        <h4> Author: {{ recipe.author }}</h4>
        <p> Created on: {{ recipe.createdOn }} | Last updated on: {{ recipe.updatedOn }} </p>
        <h2>Ingredients</h2>
        <ul>
            {% for ingredientTracker in recipe_ingredients%}
            <li> {{ ingredientTracker.ingredient.name }} : {{ ingredientTracker.quantity }} 
            </li>
            {% endfor %}
        </ul>
    </article>
    <a href='/recipe/list' >return to Recipe List</a>

{% endblock %}