{% extends 'base.html' %} {% load static %}

{% block title %} {{ recipe }} {% endblock %}
{% block content %}
    <article>
        <h1>{{ recipe }}</h1>
        <h4> Author: {{ recipe.author }}</h4>
        <p> Created on: {{ recipe.createdOn }} | Last updated on: {{ recipe.updatedOn }} </p>
        <h2>Ingredients</h2>
        <ul>
            {% for ingredientTracker in recipe_ingredients%}
            <li> {{ ingredientTracker.ingredient.name }} : {{ ingredientTracker.quantity }} 
            </li>
            {% endfor %}
        </ul>
    </article>
    
    <a href="{% url 'ledger:addImage' recipe.pk %}" class="btn btn-primary">Add Image</a>
    <h3>Images of {{ recipe.name }}:</h3>
    {% for item in images %}
        <img src="{{ item.image.url }}" alt="{{ item.description }}" style="max-width: 500px; max-height: 500px; width: auto; height: auto;">
        <p>{{ item.description }}</p>
    {% endfor %}
    </ul>
    <a href='/recipe/list' >return to Recipe List</a>

{% endblock %}